<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Session1_Voleyko_171_371.Properties.Settings.Session2_VoleykoConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Session2_Voleyko;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>